.clean {
  position: relative;
  margin-bottom: 90px;

  &-bg {
    &__img {
      max-width: 7478px;
      max-height: 1657px;
      width: 100%;
      height: 100%;
      padding: 0 3%;

      @include media(440) {
        display: none;
      }

      &_mobile {
        display: none;
        width: 100%;
        height: 100%;
        padding: 0 3%;

        @include media (440) {
          display: block;
        }
      }
    }
  }

  &-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    @include center();
    flex-direction: column;
    // padding-bottom: 40px;

    @include media (440) {
      // @include flex(center, unset)
    }
  }

  &-title {
    color: $white;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;

    @include media(440) {
      font-size: 22px;
      margin-bottom: 100px;
      padding: 0 92px;
    }
  }

  &-subtitle {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;

    @include media(440) {
      font-size: 14px;
      margin-top: 100px;
      margin-bottom: 10px;
    }
  }

  &-button {
    width: 190px;
    height: 48px;
    color: $black;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    background-color: $white;
    text-transform: uppercase;
    @include trn();

    @include media(440) {
      width: 140px;
      height: 36px;
      font-size: 12px;
    }

    @include hover() {
      &:hover {
        color: $white;
        background-color: $black;
      }
    }
  }



}