.info {
  margin-bottom: 90px;

  @include media (900) {
    margin-bottom: 60px;
  }

  @include media (768) {
    margin-bottom: 40px;
  }

  @include media (440) {
    margin-bottom: 20px;
  }

  &-content {
    @include flex(center, space-evenly);

    @include media(768) {
      flex-direction: column;
      gap: 40px
    }

    @include media(440) {
      gap: 20px;
    }
  }

  &-item {
    @include center();
    flex-direction: column;

    &__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: .03em;
      margin: 10px 0;

      @include media(440) {
        font-size: 14px;
        line-height: 120%;
        margin: 8px 0;
      }

      @include media(375) {
        font-size: 12px;
      }
    }

    &__subtitle {
      color: $black;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.03em;

      @include media(440) {
        font-size: 12px;
        line-height: 120%;
      }

      @include media(375) {
        font-size: 10px;
      }
    }

    &__image__img {
      max-width: 75px;
      max-height: 91px;
      width: 100%;
      height: 100%;

      @include media(440) {
        max-width: 60px;
        max-height: 80px;
        width: 100%;
        height: 100%;
      }
    }
  }

}