.sets {
  padding: 0 3%;
  margin-bottom: 90px;

  @include media (900) {
    margin-bottom: 60px;
  }

  @include media (768) {
    margin-bottom: 40px;
  }

  @include media (440) {
    margin-bottom: 30px;
  }

  &-title__title {
    color: $black;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;

    @include media (900) {
      font-size: 24px;
    }

    @include media (600) {
      font-size: 22px;
      margin-bottom: 22px;
    }

    @include media (440) {
      font-size: 20px;
      margin-bottom: 16px;
    }

    @include media (375) {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
  }

  &-item {
    max-width: 1017px;
    max-height: 1269px;
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 250px;

    &__image {
      &__img {
        max-width: 1017px;
        max-height: 1269px;
        width: 100%;
        height: 100%;
        min-width: 100px;
        min-height: 150px;
      }
    }



    &__row {
      @include flex(unset, space-between);
      gap: 6px
    }

    &__title {
      font-weight: 400;
      font-size: 12px;
      line-height: 133%;
      letter-spacing: 0.02em;
      color: $black;
      text-transform: capitalize;

      @include media (1024) {
        font-size: 11px;
      }

      @include media (900) {
        font-size: 10px;
        margin-bottom: 4px;
      }

    }

    &__price {
      color: $black;
      font-size: 12px;
      font-weight: 500;

      @include media (1024) {
        font-size: 11px;
      }

      @include media (900) {
        font-size: 10px;
      }

    }

    &__subtitle {
      font-size: 12px;
      color: $gray-300;
      text-transform: capitalize;

      @include media (1024) {
        font-size: 11px;
      }

      @include media (900) {
        font-size: 10px;
      }
    }
  }
}

.swiper-wrapper {
  transform: none;
  max-height: 1355px;
  height: 100%;
  padding-bottom: 50px;
}