.talking {
  position: relative;
  margin-bottom: 90px;
  padding: 0 4%;

  &-parent {}

  &-item {
    max-width: 5520px;
    max-height: 3300px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 120px 40px 120px;

    &__toptitle {
      color: $black;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
      letter-spacing: 0.03em;
    }

    &__title {
      color: $black;
      font-size: 22px;
      line-height: 32px;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    &__subtitle {
      color: $black;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.03em;
    }

    &__img {
      max-width: 2642px;
      max-height: 3332px;
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    max-width: 2399px;
    max-height: 2998px;
    width: 50%;
    margin-right: 10%;
    @include flex(unset, center);
    flex-direction: column;
  }

  &-image {
    max-width: 2642px;
    max-height: 3332px;
    width: 50%;
    height: 100%;
  }
}

.swiper-wrapper {
  max-width: 5332;
  max-height: 3300px;
  width: 100%;
  height: 100%;
}