.talking {
  position: relative;
  margin-bottom: 90px;
  padding: 0 4%;


  &-item {
    max-width: 5520px;
    max-height: 3300px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 4% 40px 4%;

    @include media (440) {
      flex-direction: column-reverse;
      padding: 0;
    }

    &__toptitle {
      color: $black;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
      letter-spacing: 0.03em;

      @include media (440) {
        display: none;
      }
    }

    &__rating {
      margin-top: 16px;
    }

    &__title {
      color: $black;
      font-size: 22px;
      line-height: 140%;
      margin-top: 20px;
      margin-bottom: 40px;

      @include media (440) {
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    &__subtitle {
      color: $black;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.03em;

      @include media(440) {
        font-size: 12px;
      }
    }

    &__img {
      max-width: 2642px;
      max-height: 3332px;
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    max-width: 2399px;
    max-height: 2998px;
    width: 50%;
    padding-right: 12%;
    padding-left: 2%;
    @include flex(unset, center);
    flex-direction: column;

    @include media(440) {
      width: 100%;
      padding: 0;
    }
  }

  &-image {
    max-width: 2642px;
    max-height: 3332px;
    width: 50%;
    height: 100%;

    @include media (440) {
      width: 100%;
    }
  }
}

.swiper-wrapper {
  max-width: 5332;
  max-height: 3300px;
  width: 100%;
  height: 100%;
}