.footer {
  margin-top: 40px;
  padding: 60px 20px 20px 20px;
  background-color: $gray-100;


  &-content {
    @include flex(unset, space-between);
    padding: 0 5%;
  }

  &-item {
    display: flex;
    flex-direction: column;
  }

  &-title {
    color: $black;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
  }

  &-link {
    color: $gray-300;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    @include trn();

    @include hover {
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }

  &-signup {
    width: 33%;

    &__title {
      color: $black;
      font-size: 20px;
      line-height: 32px;
      padding-bottom: 12px;
      font-weight: 400;
    }

    &__subtitle {
      margin-top: 12px;
      color: $gray-300;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.02em;
    }

    &__form {
      display: flex;
      align-items: center;
    }

    &__input {
      width: 100%;
      font-size: 16px;
      outline: none;
      padding: 17px 15px;
      border: 1px solid $gray-200;

      &:focus {
        border-color: $gray-400;
      }
    }

    &__button {
      padding: 15px 15px;
      background-color: $black;
      @include center();

      @include hover() {
        &:hover svg {
          fill: #fff;
        }
      }
    }
  }

}