html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
}

.wrapper {
  font-family: $main-font;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
  position: relative;
  top: 110px;

  @include media(900) {
    top: 58.5px;
  }

  @include media(660) {
    top: 50px;
  }
}

.wrapper:has(.modal.active) {
  overflow-y: scroll;
}