.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 90;
  top: 58px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  @include media(660) {
    top: 50px;

  }

  &-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-content {
    width: 477px;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: -477px;
    z-index: 15;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

    @include media (500) {
      width: 400px;
    }

    @include media (460) {
      width: 360px;
    }

    @include media (440) {
      width: 320px;
    }

    @include media (400) {
      width: 300px;
    }

    @include media (380) {
      width: 280px;
    }
  }


  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $black;
    font-size: 12px;
    font-weight: 400;
  }

  &__subtitle {
    color: $gray-300;
    font-size: 12px;
    font-weight: 400;
  }

}

.menu.active,
.menu-content.active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.menu.active,
.header {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.03);
}