.collections {
  &-aside {}
}











.custom-checkbox .checkmark {
  width: 26px;
  height: 26px;
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.custom-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  text-decoration: underline;
  user-select: none;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark::before {
  content: "\2713";
  font-size: 18px;
  color: #fff;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
  background-color: #000;
  border-color: #000;
}


// <label class="callections-sidebar__label custom-checkbox"><input type="checkbox" /><span class="checkmark"></span><span>Knit Tops</span></label>'