.main {

  &-head {
    margin-bottom: 50px;

    &__toptitle {
      font-size: 12px;
      color: $gray-300;
      margin-bottom: 10px;
    }

    &__title {
      color: $black;
      font-size: 32px;
      font-weight: 400;
      margin-top: 10px;
    }
  }

  &-products {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &-product {
    max-width: 356px;
    max-height: 540px;
    width: 100%;
    height: 100%;
    position: relative;

    &__row {
      @include flex(center, space-between)
    }

    &__image {
      max-width: 356px;
      max-height: 450px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      &:hover>button {
        bottom: 4px;
        opacity: 1;
        visibility: visible;
      }

      img {
        max-width: 360px;
        max-height: 450px;
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      color: $black;
      font-size: 12px;
      font-weight: 400;
      margin-top: 10px;
    }

    &__price {
      color: $black;
      font-size: 12px;
      font-weight: 600;
    }

    &__subtitle {
      color: $gray-300;
      font-size: 12px;
      font-weight: 400;
      margin-top: 2px;
    }

    &__cart {
      width: calc(100% - 28px);
      height: 40px;
      margin: 14px;
      font-size: 12px;
      position: absolute;
      bottom: -10px;
      left: 0;
      background-color: $white;
      text-transform: uppercase;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      @include trn();

      &_span {
        position: absolute;
        top: 12px;
        right: 16px;
      }
    }

    &__buttons {
      margin-top: 8px;
      display: flex;
      gap: 10px;
    }

    &__button {
      width: 22px;
      height: 22px;
      border-radius: 50%;

      &.black {
        background-color: black;
      }

      &.deep.blue {
        background-color: #2e5283;
      }

      &.beech {
        background-color: #5b4f3b;
      }

      &.seagrass {
        background-color: #959889;
      }

      &.navy {
        background-color: #394868;
      }

      &.parchment {
        background-color: #dfd1be;
      }

      &.spring.lake {
        background-color: #667e91;
      }

      &.white {
        background-color: #f4f9ff;
      }

      &.brown {
        background-color: #906652;
      }

      &.grey {
        background-color: #cbc5c1;
      }

      &.orange {
        background-color: #f68d2e;
      }

      &.green {
        background-color: #62664d;
      }

      &.cornstalk.chambray {
        background-color: #a9947a;
      }

      &.heather.oatmeal {
        background-color: #ccc5b5;
      }

      &.kalamata {
        background-color: #5f5c4c;
      }

      &.trench.coat.khaki {
        background-color: rgb(170, 157, 137);
      }

      &.toasted.coconut {
        background-color: #8b6a4f;
      }

      &.blue {
        background-color: #34414e;
      }

      &.cornstalk {
        background-color: #a9947a;
      }

      &.light.blue {
        background-color: #cdd7e3;
      }

      &.slate.grey {
        background-color: #49494d;
      }

      &.sage.green {
        background-color: #888d82;
      }

      &.hid.heathered.grey {
        background-color: #b1b3b3;
      }

      &.heathered.cashew {
        background-color: #ceb899;
      }

      &.scarab {
        background-color: #23312d;

      }

      &.deep.moss.green {
        background-color: #414832;
      }
    }
  }

}