.product {
  margin-top: 30px;

  &-wrapper {
    display: flex;
    gap: 24px;
    padding: 0 40px;
  }

  &-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    flex: 1 1 auto;


    &__img {
      user-select: none;
      pointer-events: none;

      img {
        max-width: 412px;
        max-height: 508px;
        width: 100%;
        height: 100%;

      }
    }
  }

  &-content {
    width: 440px;

    &__row {
      @include flex(unset, space-between);
    }

    &__head {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $gray-100;
    }

    &__info {
      padding: 20px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      border-top: 1px solid $gray-100;
    }
  }

  &-head {
    &__title {
      color: $black;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 10px;
      line-height: 130%;
    }
  }

  &-content {

    &__title {
      color: $black;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__color {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;

      &_button {
        width: 32px;
        height: 32px;
        background-color: transparent;
        border-radius: 50%;

        &.black {
          background-color: black;
        }
        &.deep.blue {
          background-color: #2e5283;
        }
        &.beech {
          background-color: #5b4f3b;
        }
        &.grey {
          background-color: gray;
        }
      }
    }

    &__size {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;

      &_button {
        width: 40px;
        height: 40px;
        border: 1px solid $gray-100;
        background-color: $gray-100;
        @include trn();

        @include hover() {
          &:hover {
            border: 1px solid $black;
          }
        }
      }
    }

    &__button {

      &_add {
        width: 100%;
        height: 50px;
        color: $white;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 30px 0;
        background-color: $black;
        @include trn();

        @include hover() {
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  &-info {
    &__item {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.03em;
      color: $black;
    }

    &__subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 133%;
      letter-spacing: 0.02em;
      color: $black;
    }
  }

}






// https://codesandbox.io/p/devbox/swiper-react-scrollbar-yfwstx?file=%2Fsrc%2FApp.jsx%3A19%2C22